.link {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #262626;
  z-index: 1;
  overflow: auto;
}

.simple {
  padding: 10px;
}

.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  min-height: 50px;
  background-color: #262626;
  color: #ffffff;
  font-size: 30px;
}

.header-grid {
  align-items: center;
  text-align: center;
}

.image-container {
  padding: 20px;
  box-sizing: border-box; 
  text-align: center;
}

.image {
  width: 100%;
  padding-top: 10px;
  height: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  opacity: 0.99;
}